[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/ilustro"]
	path = themes/ilustro
	url = https://github.com/saucesaft/ilustro
[submodule "public."]
	path = public.
	url = https://github.com/saucesaft/saucesaft.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/saucesaft/saucesaft.github.io
	branch = master
